body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(hsl(202, 100%, 54%), #000000);
    color: white;
    font-family: sans-serif;
  }
  
  .main {
    padding: 100px 100px;
    text-align: center;
    outline: 8px ridge rgba(204, 232, 225, 0.6);
    border-radius: 2rem;
    
}

input {
    display: flex;
    flex-direction: column;
    
  }
  
  .inputs input {
    outline: 8px ridge rgba(79, 172, 238, 0.6);
    border-radius: 2rem;
    border-radius: 5px;
    padding: 1rem 10rem;
    margin-bottom: 10px;
  }
  
  #selectOp {
    margin-bottom: 10px;
    padding: 10px;
    outline: 8px ridge rgba(81, 115, 235, 0.6);
    border-radius: 10px;
    cursor: pointer;
  }
  
  #btn {
    border: none;
    background: transparent;
    color: rgb(255, 254, 254);
    padding: 10px 20px;
    border: 2px solid rgb(244, 232, 232);
    margin-top: 10px;
    cursor: pointer;
    outline: 8px ridge rgba(81, 115, 235, 0.6);
    border-radius: 10px;
  }
  